server:
  port: ${GATEWAY_PORT:8083}

spring:
  cloud:
    gateway:
      routes:
        - id: all_route
          uri: ${SERVER_URI}
          predicates:
            - Path=/gateway/all/**
            - Method=GET
          filters:
            - SetPath=/all
        - id: singular_route
          uri: ${SERVER_URI}
          predicates:
            - Path=/gateway/dynamic/**
            - Method=GET
          filters:
            - name: DynamicPathFilters


logging:
  level:
    org:
      spring:
        cloud:
          gateway: DEBUG