name: Spring cloud based pipelines

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'corretto'

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2

      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@ccb4328a959376b642e027874838f60f8e596de3
      
      - name: Check location
        run: |
          echo "PDW command"
          pwd

          echo "List directory contents"
          ls -la

      - name: Build with Gradle
        uses: gradle/gradle-build-action@749f47bda3e44aa060e82d7b3ef7e40d953bd629
        with:
          arguments: build

      - name: Update & Publish Docker Image
        run: |
          echo "Build Docker Image"
          docker build -t gateway-app .

          echo "Tag Image To Repository"
          docker tag gateway-app:latest jhuguet/basic_repo:gateway-app

          echo "Push Image To Repository"
          docker push jhuguet/basic_repo:gateway-app