name: Spring cloud based pipelines

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'corretto'

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2
          with:
            gradle-version: wrapper

      - name: Run build with Gradle wrapper
        run: ./gradle build

      - name: Update & Publish Docker Image
        run: |
          echo "Build Docker Image"
          docker build -t gateway-app .

          echo "Tag Image To Repository"
          docker tag gateway-app:latest jhuguet/basic_repo:gateway-app

          echo "Push Image To Repository"
          docker push jhuguet/basic_repo:gateway-app